
<mat-toolbar color="primary">
    <div>
      <a mat-button [routerLink]="'/home'"> <mat-icon>search</mat-icon>Search Through Lens </a>            
    </div>
    <span class="flexExpand"></span>
    <div>
      <a mat-button [routerLink]="'/word_cloud'"> <mat-icon>cloud_queue</mat-icon>Word Cloud</a>
    </div>
    <div>
      <a mat-button [routerLink]="'/time_series_analysis'"> <mat-icon>show_chart</mat-icon>Time Series Analysis</a>
    </div>
    <div>
      <a mat-button [routerLink]="'/analytics'"> <mat-icon> bar_chart</mat-icon>Data Analytics </a>
    </div>
  </mat-toolbar>
  
  <router-outlet></router-outlet>