
#filter-wrapper{
	background: #EEEEEE;
}
::ng-deep .mat-grid-tile[ng-reflect-colspan="25"], .mat-grid-tile[ng-reflect-colspan="27"]{
	background: #EEEEEE;
}

::ng-deep #charts-wrapper {
	.mat-grid-tile-content {
	  display: block;
	  overflow-x: auto;
	}
}

::ng-deep .roundChartDiv {
    .pie-chart {
        position: static !important;
    }
}

::ng-deep .roundChartDiv {
    .rose-chart {
        position: static !important;
    }
}

::ng-deep .lineChartDiv {
    .line-chart {
        position: static !important;
    }
}

.barChartDiv, .roundChartDiv, .roseChartDiv, .lineChartDiv, #vaccineHesitancyContainer, #vaccineHesitancyTweetContainer{
	width: auto;
	overflow-x: auto;
}

.wordCloud{
	width: 90%;
	margin-top: 5%;
}

.loader-wrapper{
  width: 50%;
  margin-left: 50%;
  margin-top: 10%;
}

::ng-deep .lineChartDiv{
	app-line{
		echarts{
			div{
				svg{
					text{
						margin-top:20%;
					}
				}
			}
		}
	}
}