<div class="barChartDiv" *ngIf="!isLoading">
    <app-bar
        [barChartData]="poiTweetList"
        [name]="'Tweets'"
        [barTitle]="'POI Vs Tweet Count'"
    ></app-bar>
</div>
<br>
<div class="roundChartDiv" *ngIf="!isLoading" style="display: flex;">
    <div style='width: 50%; margin-left: 13%;'>
        <app-pie 
        [pieChartData]="countryTweetList"
        [pieTitle]="'Country Vs Tweet Count'"
        >
        </app-pie>
    </div>
    
    <app-rose 
        [roseChartData]="languageTweetList"
        [roseTitle]="'Language Vs Tweet Count'"
        >
    </app-rose>
</div>
<br>
<!-- <div class="roseChartDiv" *ngIf="!isLoading">
        <app-rose 
        [roseChartData]="languageTweetList"
        [roseTitle]="'Language Vs Tweet Count'"
        >
        </app-rose>
    </div> -->
    <br>
<div class="lineChartDiv" *ngIf="!isLoading">
    <app-line 
    [lineChartData]="timeSeriesList"
    [lineTitle]="'Language Vs Tweet Count'"
    >
    </app-line>
</div>
<div class='wordCloud' id="topicsContainer" [hidden]="isWordCloudLoading"></div>
<div class='wordCloud' id="hashtagsContainer" [hidden]="isWordCloudLoading"></div>
<div class='loader-wrapper' *ngIf='isLoading || isWordCloudLoading'>
    <mat-spinner></mat-spinner>    
</div>

