// .filter-box{
//     margin: auto;
//     width:50%;
// }

// .filter-wrapper {
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     padding-top: 20px 0;

//     .mat-form-field {
//       width: 75%;
//       font-size: 14px;
//     }

//     .mat-checkbox {
//       align-self: flex-start;
//       padding-left: 15px;
//       font-size: 14px;
//     }

//     .mat-option,
//     .mat-option-text {
//       font-size: 14px !important;
//     }
//   }

::ng-deep .filter-form-field{
  width: 95%;
  margin-top: 2%;
}

.filter-list .mat-list-item {
  height: auto;
}

.btn-clear-filter {
  margin-left: 2%;
  margin-right: 2%;
}

.example-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-chip .cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.filter-chip {
  background-color: #ff4081;
  color: white;
  font-size: 13px;
}

::ng-deep mat-chip-list {
  .mat-chip-list-wrapper{
    margin: 0px;
  }
}
