
<div class='filter-box'>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                Additional Filters
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class='filter-wrapper'>
                <mat-form-field appearance="fill">
                    <mat-label>POIs</mat-label>
                    <mat-select #matPoi [formControl]="selectedPois" multiple>
                    <mat-option *ngFor="let poi of filterData.poiList" [value]="poi">{{poi}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Country</mat-label>
                    <mat-select #matCountry [formControl]="selectedCountries" multiple>
                    <mat-option *ngFor="let country of filterData.countryList" [value]="country">{{country}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Language</mat-label>
                    <mat-select #matLanguage [formControl]="selectedLanguages" multiple>
                    <mat-option *ngFor="let language of filterData.languageList" [value]="language">{{language}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div style="text-align: end;">
                <button           
                mat-raised-button
                color="primary"
                class='btn-filter-results'
                (click)="applyFilter()"
                > Apply Filter </button>
                <button           
                mat-raised-button
                class='btn-clear-filter'
                (click)="clearFilters()"
                > Clear Filter </button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>