
<!-- <div style='margin-left: 5px;'>
    <div *ngFor="let item of tweetsList" class='truncate'>
        <p>
            {{item.tweet_text}}
        </p>
    </div>
</div> -->

<div *ngFor="let item of tweetsList">
    <mat-card class="example-card">
        <mat-card-title-group>
            <mat-card-title *ngIf="item.verified">@{{item.poi_name}}<mat-icon>verified_user</mat-icon></mat-card-title>
            <mat-card-title *ngIf="!item.verified">Not A POI</mat-card-title>
          
          <mat-card-subtitle>{{item.country}}</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            {{item.tweet_text}}
            <div>
                <span style="color: rgba(0,0,0,.54)">Avg Sentiment Score:</span> {{item.sentiment}}
            </div>
            <div *ngIf='item.top_pos_reply !=""'>
                <span style="color: green">Top Positive Reply:</span> {{item.top_pos_reply}}
            </div>
            <div *ngIf='item.top_neg_reply !=""'>
                <span style="color: red">Top Negative Reply:</span> {{item.top_neg_reply}}
            </div>
            <div *ngIf='item.tweet_date !=""'>
                <span style="color:blue">Tweet Date:</span> {{item.tweet_date | date:'MMM dd yyyy'}}
                <!-- <a href="{{item.link}}" *ngIf=" item.link!='' " target="_blank" style="float: right;">{{item.link}}</a> -->
            </div>
            <div *ngIf='item.topics !=""'>
                <span style="color: rgba(0,0,0,.54)">Topics:</span> {{item.topics}}
                <!-- <a href="{{item.link}}" *ngIf=" item.link!='' " target="_blank" style="float: right;">{{item.link}}</a> -->
            </div>
        </mat-card-content>
      </mat-card>
</div>
<mat-paginator [length]="length"
               [pageSize]="pageSize"               
               (page)="paginationUpdated($event)"
               aria-label="Select page">
</mat-paginator>

